div {
    margin: 15px;
}

.value, .setValue{
    border: 2px solid black;
    width: 350px;
    height: 150px;
    margin-left: 500px;
    text-align: center;
}


.flex {
    display: flex;
    flex-direction: row;
    height: 15px;
}

.num {
    height: 50px;
    border: 2px solid black;
}

.red {
    color: red;
    font-weight: bold;
}